<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/Style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script type="text/javascript" src="js/Object.js">
    </script>
    <script type="text/javascript" src="js/Init.js">
    </script>
    <script type="text/javascript" src="js/Functions.js">
    </script>
    <title>Учет личных финансов</title>
</head>
<body class="start">
    <div class="container">
        <div class="form">
            <div class="row" style="background: aqua">
                <div class="col-1-5"> </div>
                <div class="col-3-5">
                    <h1> Сайт учета личных финансов </h1>
                </div>
                <div class="col-1-5"> </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center" id="colst1">
                <p class="ref"><a style="font-size: 24px" href="Sing.html"> Войти </a></p>
            </div>
            <div class="col" style="text-align: center" id="colst1">
                <p class="ref" style="font-size: 24px"><a href="Registered.html"> Зарегистрироваться </a></p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="background: white">
                <p style="text-align: center"><img src="Img/Fin.jpeg" alt=""></p>
            </div>
        </div>
        <div class="form">
            <div class="row">
                <div class="col">
                    <h3 class="textpos"> Данный сайт был создан для упрощения ведения учета
                        финансовых операций. Сайт имеет следующие возможности.</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col" id="colst1">
                    <h5 class="textpos"> Добавление и удаление банковских карт и сберегательных счетов.</h5>
                </div>
                <div class="col" id="colst1">
                    <h5 class="textpos"> Редактирование банковских карт и сберегательных счетов.</h5>
                </div>
                <div class="col" id="colst1">
                    <h5 class="textpos"> Управление расходами.</h5>
                </div>
                <div class="col" id="colst1" style="">
                    <h5 class="textpos"> Редактирование шаблонов операций.</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>